<div class="container-fluid">
<h3 class="text-center mt-5 text-dark-grey">Welcome to TRIPTAG!</h3>
<div class="border my-4 pb-4">
  <h4 class="m-4 p-2 rounded text-dark-grey">Attractions</h4>
  <div class="d-flex flex-row flex-wrap justify-content-start">
    <% current_user.attractions.each do |attraction| %>
      <div class="card m-2 d-flex flex-column" style="width: 220px;">
        <%= image_tag(attraction.image_url.presence || 'https://placehold.co/220x220?text=No+Image', class: 'card-img-top', style: 'height: 220px; object-fit: cover;') %>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title mb-3"><%= link_to attraction.name, attraction_path(attraction), class: "text-dark-grey" %></h5>
          <p class="card-text mb-auto"><%= attraction.address %></p>
          <div class="mt-auto">
            <%= button_to "Remove", remove_path, params: { place: { id: attraction.id, type: "attractions" } }, method: :delete, class: "btn-clear-orange w-100" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="border my-4 pb-4">
  <h4 class="m-4 p-2 rounded text-dark-grey">Hotels</h4>
  <div class="d-flex flex-row flex-wrap justify-content-start">
    <% current_user.hotels.each do |hotel| %>
      <div class="card m-2 d-flex flex-column" style="width: 220px;">
        <%= image_tag(hotel.image_url.presence || 'https://placehold.co/220x220?text=No+Image', class: 'card-img-top', style: 'height: 220px; object-fit: cover;') %>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title text-dark-grey p-2 rounded mb-3"><%= link_to hotel.name, hotel_path(hotel), class: "link-class text-dark-grey" %></h5>
          <p class="card-text mb-auto"><%= hotel.address %></p>
          <div class="mt-auto">
            <%= button_to "Remove", remove_path, params: { place: { id: hotel.id, type: "hotels" } }, method: :delete, class: "btn-clear-orange w-100" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="border my-4 pb-4">
  <h4 class="m-4 p-2 rounded text-dark-grey">Restaurants</h4>
  <div class="d-flex flex-row flex-wrap justify-content-start">
    <% current_user.restaurants.each do |restaurant| %>
      <div class="card m-2 d-flex flex-column" style="width: 220px;">
        <%= image_tag(restaurant.image_url.presence || 'https://placehold.co/220x220?text=No+Image', class: 'card-img-top', style: 'height: 220px; object-fit: cover;') %>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title text-dark-grey p-2 rounded mb-3"><%= link_to restaurant.name, restaurant_path(restaurant), class: "link-class text-dark-grey" %></h5>
          <p class="card-text mb-auto"><%= restaurant.address %></p>
          <div class="mt-auto">
            <%= button_to "Remove", remove_path, params: { place: { id: restaurant.id, type: "restaurants" } }, method: :delete, class: "btn-clear-orange w-100" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>