<nav class="navbar navbar-expand-lg navbar-light bg-white navbar-adjust" style="border-bottom: 1px solid #ccc;">
  <div class="container-fluid">
    <%= image_tag("TRIP.png", alt: "logo", height: "80", class: "navbar-brand nav-logo") %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Collections", root_path, class: "nav-link", style: "color: #999999; font-size: 20px; margin-right: 80px;" %>
        </li>
        <li class="nav-item">
          <%= link_to "Explore", search_path, class: "nav-link", style: "color: #999999; font-size: 20px;"%>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nav-email" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.email %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to "Remove All Places", remove_all_path, class: "dropdown-item", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></li>
              <li><%= link_to "Edit Account", edit_user_registration_path, class: "dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
            <%= "Current controller: #{controller_name}, Action: #{action_name}" %>

          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
