<div class="container-fluid">
    <div class="row">
        <!-- rendering navbar from shared folder -->
        <%= render partial: "shared/navbar"%>

        <div class="col-6">
            <div class="row">
                <div>
                    <!-- if user login, will be navigate through places or logout -->
                    <% if user_signed_in? %>
                    <div class="text-center">
                        <div class="display-5 mt-5 mb-5"> 
                            Welcome <%= current_user.email %> 
                        </div>

                        <%= button_to "Cities", cities_path, class: "btn btn-outline-primary" %>

                        <div class="mt-5" style="display: flex; justify-content: center;">
                            <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-outline-danger" %>
                            <%= link_to "Edit Registration", edit_user_registration_path, class: "btn btn-outline-info mx-2" %>
                        </div>

                    </div>
                    <% else %>

                    <!-- if user didn't login, will be able to login or register -->
                    <div class="text-center">
                        <h2 class="display-5 text-blue text-center fw-bold">
                            Welcome to Travel App!!!
                        </h2>
                        <%= button_to "Sign in", new_user_session_path, class: "btn btn-outline-primary mt-3" %>
                        <div class="mt-5">
                            <p>Create a new account:</p>
                            <%= button_to "Register", new_user_registration_path, :method => :get, class: "btn btn-outline-success" %>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>

        <!-- area to display selected place from admin -->
        <div class="col-6">
            <div class="card">
                <%= image_tag "Venice-Italy-Wallpaper.jpg", class: "rounded-top" %>
                <div class="card-body">
                    <h5 class="card-title">Place to go!</h5>
                    <p class="card-text"> Venice Italy Wallpapers Download Free | PixelsTalk.Net</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- render the footer -->

<%= render partial: "shared/footer"%>